.svgmain {
  margin-left: 15%;
  margin-right: auto;
}

#svgmain {
  margin-left: 15%;
  margin-right: auto;
}

.attrwindow {
  margin-left: 100%;
  margin-right: auto;
}

#attrwindow {
  margin-left: 100%;
  margin-right: auto;
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #d62728;

}

.node--target {

  fill: #2ca02c;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #2ca02c;
}

.link--target {
  stroke: #d62728;
}

.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
